---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
import i18n from '~/utils/i18n';

export async function getStaticPaths() {
  const pages = await getCollection('topic');

  return pages
    .filter(({ slug }) => slug.startsWith('fa'))
    .filter(({ slug }) => slug.split('/').length === 2)
    .map((page) => {
      const [, ...slugParts] = page.slug.split('/');
      const baseSlug = slugParts.join('/');

      return {
        params: {
          slug: baseSlug,
        },
        props: {
          page,
        },
      };
    });
}

const { slug } = Astro.params;
const { page } = Astro.props;
const pageData = page.data;

const { Content } = await page.render();

const metadata = {
  title: 'Persin Flutter',
  ignoreTitleTemplate: true,
};

i18n.setLang(Astro.currentLocale);
---

<Layout metadata={metadata}>
  <h1>Language: {Astro.currentLocale}</h1>
  <h2>Astro preferredLocaleList: {Astro.preferredLocaleList}</h2>
  <h2>Astro preferredLocaleList: {JSON.stringify(Astro.locals)}</h2>
  <h2>Slug: {slug}</h2>
  <p>Name: {slug}</p>
  <p>Page Data: {JSON.stringify(pageData)}</p>
  <Content />
</Layout>
