---
import type { CafeFlutterItem } from '~/types';
import { Icon } from 'astro-icon/components';
import { cafeFlutterEvents } from '~/data/mockCafeFlutter';

interface Props {
  item?: CafeFlutterItem;
}

const { item = cafeFlutterEvents[0] } = Astro.props;

// Helper function to determine event status
const getEventStatus = (eventDateTime: Date) => {
  const now = new Date();
  const eventStartTime = new Date(eventDateTime);
  const eventEndTime = new Date(eventStartTime.getTime() + 3 * 60 * 60 * 1000);

  if (now < eventStartTime) {
    return 'به زودی';
  } else if (now >= eventStartTime && now < eventEndTime) {
    return 'در حال برگزاری';
  } else {
    return 'برگزار شده';
  }
};

// Helper function to format date
const formatDate = (date: Date) => {
  // Set date format options
  const options: Intl.DateTimeFormatOptions = {
    weekday: 'long',
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  };

  // Taking date components separately
  const formatter = new Intl.DateTimeFormat('fa-IR', options);
  const parts = formatter.formatToParts(date);

  // Find any date component
  const weekday = parts.find((part) => part.type === 'weekday')?.value || '';
  const day = parts.find((part) => part.type === 'day')?.value || '';
  const month = parts.find((part) => part.type === 'month')?.value || '';
  const year = parts.find((part) => part.type === 'year')?.value || '';

  // Combination of components with desired format
  return `${weekday} ${day} ${month} ${year}`;
};

const formatTime = (date: Date) => {
  return new Intl.DateTimeFormat('fa-IR', {
    hour: '2-digit',
    minute: '2-digit',
  }).format(date);
};
---

<article class="flex flex-col max-w-[408px] bg-[#f1f4f8] rounded-3xl p-4 relative">
  <figure>
    <img
      class="w-full h-[301px] rounded-3xl shadow-xl border-4 border-white object-cover"
      src={item.image.src}
      alt={item.image.alt || `تصویر کافه فلاتر شماره ${item.number}`}
    />

    <div
      class="px-2.5 py-1.5 start-5 top-5 absolute bg-[#fd6035] rounded-tr-2xl rounded-bl-2xl justify-end items-center inline-flex"
      aria-label="وضعیت رویداد"
    >
      <span class="text-start text-white text-xs font-normal">
        {getEventStatus(item.dateTime)}
      </span>
    </div>
  </figure>

  <div class="flex flex-col flex-grow w-full justify-start items-start gap-6 mt-6 px-4">
    <div class="w-full flex-grow">
      <h2 class="text-start text-slate-600 text-base font-bold mb-3">
        کافه فلاتر شماره {item.number}
      </h2>
      <div class="space-y-2">
        {
          item.speakers.map((speaker) => (
            <div class="flex justify-end items-center gap-2.5" aria-label={`ارائه دهنده ${speaker.name}`}>
              <img
                class="w-[50px] h-[50px] rounded-2xl shadow-lg border-2 border-white"
                src={speaker.image.src}
                alt={speaker.image.alt || `تصویر ${speaker.name}`}
              />
              <div class="flex-grow">
                <h3 class="text-start text-slate-500 text-base font-medium">{speaker.name}</h3>
                <p class="text-start text-slate-500 text-sm font-normal line-clamp-1">{speaker.title}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <hr class="w-full border-t border-slate-300" />
  </div>

  <div class="w-full mt-6 px-4 justify-between items-start inline-flex">
    <div class="flex-col justify-start items-start gap-1.5 inline-flex">
      <time class="justify-end items-center gap-1.5 inline-flex">
        <Icon name="tabler:calendar" class="w-5 h-5 text-slate-500 relative" />
        <span class="text-start text-slate-500 text-sm font-normal">
          {formatDate(item.dateTime)}
        </span>
      </time>
      <div class="justify-end items-center gap-1.5 inline-flex">
        <Icon name="tabler:clock" class="w-5 h-5 text-slate-500 relative" />
        <span class="text-start text-slate-500 text-sm font-normal">
          {`ساعت ${formatTime(item.dateTime)}`}
        </span>
      </div>
    </div>
    {
      item.youtubeLink && (
        <a href={item.youtubeLink} target="_blank" class="rounded justify-center items-start gap-1.5 inline-flex">
          <Icon name="tabler:brand-youtube" class="w-5 h-5 text-slate-500 relative" />
          <span class="text-start text-slate-500 text-xs font-normal">مشاهده در یوتیوب</span>
        </a>
      )
    }
  </div>
</article>
