---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import ParallaxSection from './ParallaxSection.astro';
import background from '~/assets/images/members-background.jpg';
import SectionTitle from './SectionTitle.astro';
import StaffCard from './StaffCard.astro';
import i18n from '~/utils/i18n';
import { getCollection } from 'astro:content';

const { id, isDark = false, classes = {} } = Astro.props;
const currentLocale = Astro.currentLocale!;
const members = await getCollection('member');
const effectiveMembers = members.filter(({ slug }) => slug.startsWith(currentLocale));

i18n.setLang(currentLocale);
const translations = i18n.t();
---

<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-full w-full px-0 md:px-0 py-0 md:py-0 lg:py-0 relative h-max overflow-hidden ${classes?.container ?? ''}`}
>
  <div slot="bg" class="absolute w-full h-full overflow-hidden bg-[#ebebeb] dark:bg-slate-900">
    {background && <ParallaxSection imageSrc={background} altText="Alt" />}
  </div>

  <div class="mx-auto max-w-[1320px] px-4 py-8 md:py-12 lg:py-16">
    <div class="flex flex-col justify-center items-center gap-8 md:gap-12 lg:gap-12">
      <!-- box content -->
      <SectionTitle
        title={translations.home.staffSection.title}
        description={translations.home.staffSection.description}
      />

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center gap-8">
        {effectiveMembers.map((member) => <StaffCard bg="bg-white" member={member} />)}
      </div>
    </div>
  </div>
</WidgetWrapper>
