---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { CollectionEntry } from 'astro:content';

interface Props {
  member: CollectionEntry<'member'>;
  bg: string;
}
function getMemberUrl(memberSlug: string) {
  const [lang, ...slugParts] = memberSlug.split('/');
  const baseSlug = slugParts.join('/');
  return getRelativeLocaleUrl(lang, `members/${baseSlug}`);
}

const { member, bg } = Astro.props as Props;
const data = member.data;
---

<a
  class={'h-[386px] p-8 rounded-3xl justify-center items-center place-items-center gap-2.5 dark:bg-slate-800 transition-transform hover:scale-[1.02] ' +
    bg}
  href={getMemberUrl(member.slug)}
>
  <div class="flex-col justify-start items-center gap-4 flex">
    <div class="self-stretch flex-col justify-start items-center gap-6 flex">
      <Image
        class="rounded-full shadow-2xl"
        src={data.image}
        alt={data.name + ' ' + data.family}
        width={150}
        height={150}
        format="webp"
      />

      <div class="self-stretch h-[108px] flex-col justify-start items-start gap-2.5 flex">
        <div class="self-stretch h-14 flex-col justify-start items-center gap-1.5 flex">
          <h2 class="self-stretch text-center text-base font-bold text-pfColorFirst dark:text-pfColorFourth">
            {data.name}
            {data.family}
          </h2>
          <span
            class="self-stretch text-center line-clamp-1 text-pfColorSecond text-base font-medium dark:text-slate-100"
          >
            {data.title}
          </span>
        </div>
        <p class="self-stretch text-center line-clamp-2 text-slate-600 text-sm font-normal dark:text-slate-300">
          {data.description}
        </p>
      </div>
    </div>
    <div class="justify-center items-center gap-3 inline-flex">
      <!-- TODO(payam): add link tag to this items -->
      <Icon name="tabler:brand-telegram" class="size-6 text-slate-300 dark:text-slate-500" />
      <Icon name="tabler:brand-github" class="size-6 text-slate-300 dark:text-slate-500" />
      <Icon name="tabler:brand-linkedin" class="size-6 text-slate-300 dark:text-slate-500" />
    </div>
  </div>
</a>
